* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-family: "Helvetica Neue", sans-serif;
    line-height: 1.6;
    background-color:rgb(248, 246, 246);
    color: black';
}

.site-header {
    background-color: black;
    color: rgb(248, 246, 246);
    padding: 1rem 0;
    text-align: center;
}

<<<<<<< HEAD
.site-header {
    margin-bottom: 10px;
    font-size: 2rem;
}

.main-nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
=======
.site-title {
    margin-bottom: 10px;
    font-size: 2rem;
>>>>>>> d4ebb402f6933e948034d9b04222c2a4367961c3
}